.DS_Store
css/.DS_Store
exercises/.DS_Store
exercises/assets/.DS_Store
images/.DS_Store
reveal/.DS_Store
reveal/css/.DS_Store
reveal/css/theme/.DS_Store
reveal/lib/.DS_Store
reveal/lib/css/.DS_Store
reveal/lib/js/.DS_Store